.keyboard__numpad {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 5px 5px;
  width: calc(500px / 9 * 5.5);
  height: calc(500px / 9 * 5.5);
  /* padding-left: 10px; */
  border: 1px solid blue;
}
